/* globals.css */
@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 60s linear infinite;
  }
}


body{
  background-color: #151312;
}